@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.notification{ 
    border: 2px solid black;
    border-radius: 5px;
    position:absolute;
    justify-self: center;
    align-self: center;
    height:8%;
    width:15%;
    font-size: 3em;
    font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    transform: translate(-50%, -50%)
}