@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Amatic+SC&family=Architects+Daughter&family=Arvo&family=Bangers&family=Indie+Flower&family=Luckiest+Guy&family=Pacifico&family=Parisienne&family=Permanent+Marker&family=RocknRoll+One&family=Satisfy&family=Special+Elite&family=Yellowtail&display=swap" rel="stylesheet"');

#printScreenInstructions {
    font-size:15px;
    margin-top:-10px;
    font-family: 'Londrina Solid';
    font-weight:400;
    letter-spacing: 0.7px;
}

#downIcon {
    width:30px;
    height:40px;   
    margin-bottom:10px;
}

#Collage p {
    margin-top:20px;
    margin-bottom: 5px;
    margin-left:20px;
    margin-right:20px;
    font-size:24px;
    font-family: 'Londrina Solid';
}

#Collage {
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right:20px;
    width:auto;
    background-size: cover;
    border: 1px solid black;
}

#collageTitle {
    padding-bottom:20px;
}

#PhotoBoxContainer{
    position: relative;
    grid-area:PhotoBox;
    /* padding: 10px; */
    /* text-align: center; */
    display:none;
    justify-content: center;
}

#PhotoBoxContainer h3 {
    margin-top:-25px;
    margin-bottom:20px;
}

#PhotoBoxHeader {
    display:grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 50px auto;
    column-gap: 30px;
    row-gap:20px;
    grid-template-areas: "customiseHeader customiseHeader" "customiseInstructions customiseOptions";
}

#customiseHeader {
    grid-area: customiseHeader;
}

#customiseHeader h2 {
    margin:0px;
}

#customiseInstructions {
    font-family: 'Londrina Solid';
    display:flex;
    flex-flow: column;
    grid-area: customiseInstructions;
    margin-bottom:20px;
    border: 1px solid black;
    border-radius: 5%;
    justify-content: space-around;
}

#customiseOptions {
    grid-area: customiseOptions;
    margin-bottom:20px;
}

.instructionalIcons{
    height:20px;
    width:20px;
    padding: 0 3px;
}

#exampleCaption {
    width:80px;
    height:40px;
    margin: 0 3px;
}

#PhotoBox{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    box-sizing: border-box;
    margin: 0 auto;
    justify-items: center;
}

#PhotoBox img {
    height:145px;
    width:95px;
    margin:3px;
    cursor: pointer;
    z-index: 2;
    padding-top: 23px;
    padding-bottom:10px;    
}

#popUpDialog{
    position: fixed;
    top: 20%;
    left:calc(50% - 200px);
    align-items:center;
    background-color: white;
    border: 1px solid black;  
    width:400px;
    height:290px;
    padding:10px;
    display:grid;
    grid-template-columns: 125px 275px;
    grid-template-areas: "closeIconDiv closeIconDiv" "showBook showOptions";
    z-index: 3;
    border-radius: 10px;
}

#popUpDialog h3 {
    margin-bottom: 5px;
}

#closeIconDiv {
    grid-area: closeIconDiv
}

#closeIcon {
    cursor: pointer;
    z-index: 2;
    margin-bottom:10px;
    max-height: 30px;
    margin-bottom:20px;
}

#showBook {
    grid-area: showBook;
}

#showOptions {
    grid-area: showOptions;
    font-family:'Londrina Solid';
    font-weight:100;
    font-size:18px;
}

#showOptions img{
    width:25px;
    height:25px;
    cursor: pointer;
}

#captionInput {
    min-width:200px;
    max-width:200px;
    text-align: center;
}

#setCaption {
    margin-top:10px;
    margin-bottom:10px;
}

#starRatingPara {
    margin-top:10px;
}

button {
    font-size:18px;
    font-family: 'Londrina Solid';
    align-items:center;
}

#showBook img{
    height:145px;
    width:95px;
}

.radioButton {
    position:absolute;
    opacity:0;
    width:0;
}

#iconHolder {
    position:relative;
}

.optionIcon {
    padding: 0px;
    margin: 0px;
    max-height: 20px;
    width:auto;
}

.starRatingIcon{
    margin-top:-10px;
}

.starRatingP{
    letter-spacing:6px;
    padding-left:7px;
    font-weight: bold;
    margin-top:-10px;
}

#starRating {
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
}

#starRating1 {
    filter: grayscale(100%);
}

#starRating2 {
    filter: grayscale(100%);
}

#starRating3 {
    filter: grayscale(100%);
}

#starRating4 {
    filter: grayscale(100%);
}

#starRating5 {
    filter: grayscale(100%);
}

#moveBook {
    margin-top:10px;
}

#clearRating{
    margin-top:-30px;
}