@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;200;300;400&family=Amatic+SC&family=Open+Sans&family=Staatliches&family=Architects+Daughter&family=Arvo&family=Bangers&family=Indie+Flower&family=Luckiest+Guy&family=Pacifico&family=Parisienne&family=Permanent+Marker&family=RocknRoll+One&family=Satisfy&family=Special+Elite&family=Yellowtail&display=swap');

h1, h2, h3 {
    position:relative;
    font-family:'Londrina Solid';
    z-index:2
}

h1 {
    font-size: 60px;
    margin-top: -20px;
    margin-bottom: -30px;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    padding-top:-30px;
    font-weight:300;
}

h3 {
    font-weight:300;
}

.searchBar{
    grid-area: searchBar;
    margin-bottom: -20px;
    background-image:linear-gradient(120deg,#FFFFFF, rgba(149, 50, 168, 0.5), #FFFFFF);
    align-items:center;
    padding-bottom:20px;
}

#header{
    background-image: url('./Images/headerbg.png');
    background-size: cover;
    height:80px;
    background-position: bottom -310px right 0px; 
    padding: 25px 0px;
    display: block;
}

#header::after {
    content: ' ';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color:rgba(149, 50, 168, 0.5);
    opacity: .7;
    z-index:1
}

.searchText{
    margin-top:20px;
    font-size: 20px;
    margin-right:5px;
    font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
}

button{
    font-size: 20px;
    margin-left:5px;
    font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
}