.searchResults img {
    height:145px;
    width:95px;
    margin:3px;
    cursor: pointer
}

.searchResultsContainer {
    background-image: linear-gradient(120deg, white, linen);
    display:none;
    padding:5px;
}

.searchResults {
    grid-area: searchResultsContainer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    box-sizing: border-box;
    margin: 0 auto;
    justify-items: center;
    overflow-y: scroll;
    height:60vh;
}

.searchResults h2 {
    margin-bottom:10px;
}

.searchResults h3 {
    margin-top:10px;
}

#noResults {
    width: 33vw;
    font-family: 'Londrina Solid';
    font-size: 24px;
}

#noResultsFurtherInfo {
    font-size:20px;
    font-weight:300;
    text-align:justify
}